# IOS / Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
# IOS/www/

# OSX
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.sass-cache
.sass-cache/*
.DS_Store



MT101/MT101/Audio/A#2.R.aif

MT101/MT101/Audio/A#3.R.aif

MT101/MT101/Audio/A#4.R.aif

MT101/MT101/Audio/A2.R.aif

MT101/MT101/Audio/A3.R.aif

MT101/MT101/Audio/A4.R.aif

MT101/MT101/Audio/B2.R.aif

MT101/MT101/Audio/B3.R.aif

MT101/MT101/Audio/B4.R.aif

MT101/MT101/Audio/C#2.R.aif

MT101/MT101/Audio/C#3.R.aif

MT101/MT101/Audio/C#4.R.aif

MT101/MT101/Audio/C2.R.aif

MT101/MT101/Audio/C3.R.aif

MT101/MT101/Audio/C4.R.aif

MT101/MT101/Audio/F#4.R.aif

MT101/MT101/Audio/D#2.R.aif

MT101/MT101/Audio/D#3.R.aif

MT101/MT101/Audio/D#4.R.aif

MT101/MT101/Audio/D2.R.aif

MT101/MT101/Audio/D3.R.aif

MT101/MT101/Audio/D4.R.aif

MT101/MT101/Audio/E2.R.aif

MT101/MT101/Audio/E3.R.aif

MT101/MT101/Audio/E4.R.aif

MT101/MT101/Audio/F#2.R.aif

MT101/MT101/Audio/F#3.R.aif

MT101/MT101/Audio/F2.R.aif

MT101/MT101/Audio/F3.R.aif

MT101/MT101/Audio/F4.R.aif

MT101/MT101/Audio/G#2.R.aif

MT101/MT101/Audio/G#3.R.aif

MT101/MT101/Audio/G#4.R.aif

MT101/MT101/Audio/G2.R.aif

MT101/MT101/Audio/G3.R.aif

MT101/MT101/Audio/G4.R.aif
