<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>108</string>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>lastCheckDate</key>
	<date>2012-06-11T21:32:51Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>32</real>
		<key>mainWindowFrame</key>
		<string>-15 216 967 662 0 0 1440 878 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<true/>
		<key>splitHeight</key>
		<real>480</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>oidCounter</key>
	<integer>8</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>bookmark</key>
			<data>
			Ym9va8QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAzAIAAAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHJh
			bmR5bWNtaWxsYW4AAAAJAAAAAQEAAERvY3VtZW50cwAAABEAAAAB
			AQAATXVzaWNUaGVvcnlTZXJpZXMAAAAFAAAAAQEAAE1UMTAxAAAA
			CwAAAAEBAABpY29uQDJ4LnBuZwAYAAAAAQYAAAQAAAAUAAAALAAA
			AEAAAABcAAAAbAAAAAgAAAAEAwAAkr8AAAAAAAAIAAAABAMAAPlT
			BAAAAAAACAAAAAQDAAD6UwQAAAAAAAgAAAAEAwAAnHUEAAAAAAAI
			AAAABAMAAPhwYwAAAAAACAAAAAQDAADVi2MAAAAAABgAAAABBgAA
			oAAAALAAAADAAAAA0AAAAOAAAADwAAAAGAAAAAECAAABAAAAAAAA
			AA8AAAAAAAAAAAAAAAAAAAAEAAAAAwMAAAQAAAAEAAAAAwMAAPUB
			AAAMAAAAAQEAAERlZXBTcGFjZVNTRAgAAAAEAwAAAIBKsTcAAAAI
			AAAAAAQAAEG1WgtXAAAAJAAAAAEBAABDNTk2NkJENy1FMjU4LTM3
			MUEtQTkxQS1BNUJDMTIyMTUxQkYYAAAAAQIAAIEAAAABAAgA7z8A
			AAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMD
			AAAAAQAAygAAAAECAAAwNWNhMTdiYzBhYWExZGU1Y2RhZTQxNmU5
			MWNlNDZlY2JkY2UyYzQyOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAw
			MjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAw
			MDAwMDE7MGUwMDAwMDM7MDAwMDAwMDAwMDYzOGJkNTsvdXNlcnMv
			cmFuZHltY21pbGxhbi9kb2N1bWVudHMvbXVzaWN0aGVvcnlzZXJp
			ZXMvbXQxMDEvaWNvbkAyeC5wbmcAAADAAAAA/v///wEAAAAAAAAA
			DwAAAAQQAACAAAAAAAAAAAUQAAAAAQAAAAAAABAQAAAgAQAAAAAA
			AAIgAADYAQAAAAAAABAgAABYAQAAAAAAABEgAACMAQAAAAAAABIg
			AABsAQAAAAAAABMgAAB8AQAAAAAAACAgAAC4AQAAAAAAADAgAADk
			AQAAAAAAAAHAAABAAQAAAAAAABHAAAAUAAAAAAAAABLAAABMAQAA
			AAAAABDQAADsAQAAAAAAAIDwAAD4AQAAAAAAAA==
			</data>
			<key>fileModificationDate</key>
			<date>2012-05-16T03:45:49Z</date>
			<key>md5</key>
			<string>8423F463E8609B719663671BFBDFAB2F</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/randymcmillan/Documents/MusicTheorySeries/MT101/icon@2x.png</string>
			<key>resourceName</key>
			<string>icon@2x.png</string>
		</dict>
		<dict>
			<key>bookmark</key>
			<data>
			Ym9va8wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAA1AIAAAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHJh
			bmR5bWNtaWxsYW4AAAAJAAAAAQEAAERvY3VtZW50cwAAABEAAAAB
			AQAATXVzaWNUaGVvcnlTZXJpZXMAAAAFAAAAAQEAAE1UMTAxAAAA
			DgAAAAEBAABpY29uLTcyQDJ4LnBuZwAAGAAAAAEGAAAEAAAAFAAA
			ACwAAABAAAAAXAAAAGwAAAAIAAAABAMAAJK/AAAAAAAACAAAAAQD
			AAD5UwQAAAAAAAgAAAAEAwAA+lMEAAAAAAAIAAAABAMAAJx1BAAA
			AAAACAAAAAQDAAD4cGMAAAAAAAgAAAAEAwAA0YtjAAAAAAAYAAAA
			AQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAABgAAAABAgAAAQAA
			AAAAAAAPAAAAAAAAAAAAAAAAAAAABAAAAAMDAAAEAAAABAAAAAMD
			AAD1AQAADAAAAAEBAABEZWVwU3BhY2VTU0QIAAAABAMAAACASrE3
			AAAACAAAAAAEAABBtVoLVwAAACQAAAABAQAAQzU5NjZCRDctRTI1
			OC0zNzFBLUE5MUEtQTVCQzEyMjE1MUJGGAAAAAECAACBAAAAAQAI
			AO8/AAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQA
			AAADAwAAAAEAAM0AAAABAgAANmU3MDRjNjM0NDljYjI1MWQ1ODEw
			MDU1NzE4MzU4N2ZkMjU3YzE3MzswMDAwMDAwMDswMDAwMDAwMDAw
			MDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRl
			OzAwMDAwMDAxOzBlMDAwMDAzOzAwMDAwMDAwMDA2MzhiZDE7L3Vz
			ZXJzL3JhbmR5bWNtaWxsYW4vZG9jdW1lbnRzL211c2ljdGhlb3J5
			c2VyaWVzL210MTAxL2ljb24tNzJAMngucG5nAAAAAMAAAAD+////
			AQAAAAAAAAAPAAAABBAAAIQAAAAAAAAABRAAAAQBAAAAAAAAEBAA
			ACQBAAAAAAAAAiAAANwBAAAAAAAAECAAAFwBAAAAAAAAESAAAJAB
			AAAAAAAAEiAAAHABAAAAAAAAEyAAAIABAAAAAAAAICAAALwBAAAA
			AAAAMCAAAOgBAAAAAAAAAcAAAEQBAAAAAAAAEcAAABQAAAAAAAAA
			EsAAAFABAAAAAAAAENAAAPABAAAAAAAAgPAAAPwBAAAAAAAA
			</data>
			<key>fileModificationDate</key>
			<date>2012-05-15T00:04:34Z</date>
			<key>md5</key>
			<string>204C47FB6CE651B63235A740D41485A6</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/randymcmillan/Documents/MusicTheorySeries/MT101/icon-72@2x.png</string>
			<key>resourceName</key>
			<string>icon-72@2x.png</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{703, 718}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1296, 758}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>6</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>FontFamily</string>
							<key>objectValue</key>
							<string>'Helvetica Neue',Arial,Helvetica,Sans-Serif</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontWeight</string>
							<key>objectValue</key>
							<string>bold</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingRight</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>20px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordWrap</string>
							<key>objectValue</key>
							<string>break-word</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>447px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingBottom</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WhiteSpaceCollapsing</string>
							<key>objectValue</key>
							<string>preserve</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>25px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>259px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextAlign</string>
							<key>objectValue</key>
							<string>center</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>&lt;div&gt;Music Theory 101&lt;/div&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>3</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingLeft</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>167px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingTop</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextColor</string>
							<key>objectValue</key>
							<string>#000000</string>
						</dict>
					</array>
					<key>8</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>icon-72@2x</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>144px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>252px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>icon-72@2x.png</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>144px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>198px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>198px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>260px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#E9E8EE</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>init</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{5, 104}</string>
			<key>selectedObjects</key>
			<array/>
			<key>splitHeight</key>
			<real>480</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<true/>
	<key>showRulers</key>
	<false/>
	<key>unsupportedBrowserIdentifiers</key>
	<array>
		<string>firefox-10.0</string>
		<string>firefox-5.0</string>
		<string>firefox-4.0</string>
		<string>firefox-3.6</string>
		<string>firefox-3.5</string>
		<string>msie-9</string>
		<string>msie-8</string>
		<string>msie-6</string>
		<string>opera-1110</string>
	</array>
	<key>zoomFactor</key>
	<real>0.75</real>
</dict>
</plist>
