<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
	</array>
	<key>documentVersion</key>
	<string>108</string>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>lastCheckDate</key>
	<date>2012-06-10T00:29:01Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>32</real>
		<key>mainWindowFrame</key>
		<string>28 128 1330 668 0 0 1440 878 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<true/>
		<key>splitHeight</key>
		<real>494</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>oidCounter</key>
	<integer>9</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>bookmark</key>
			<data>
			Ym9va2gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAcAMAAAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHJh
			bmR5bWNtaWxsYW4AAAAJAAAAAQEAAERvY3VtZW50cwAAABEAAAAB
			AQAATXVzaWNUaGVvcnlTZXJpZXMAAAAFAAAAAQEAAE1UMTAxAAAA
			AwAAAAEBAAB3d3cACQAAAAEBAAByZXNvdXJjZXMAAAAJAAAAAQEA
			AHNjYWxlU1ZHcwAAABIAAAABAQAAQ2lyY2xlT2ZGaWZ0aHMuc3Zn
			AAAkAAAAAQYAAAQAAAAUAAAALAAAAEAAAABcAAAAbAAAAHgAAACM
			AAAAoAAAAAgAAAAEAwAAkr8AAAAAAAAIAAAABAMAAPlTBAAAAAAA
			CAAAAAQDAAD6UwQAAAAAAAgAAAAEAwAAnHUEAAAAAAAIAAAABAMA
			APhwYwAAAAAACAAAAAQDAACDcWMAAAAAAAgAAAAEAwAAKp5jAAAA
			AAAIAAAABAMAAKKeYwAAAAAACAAAAAQDAACtnmMAAAAAACQAAAAB
			BgAA6AAAAPgAAAAIAQAAGAEAACgBAAA4AQAASAEAAFgBAABoAQAA
			GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAEAAAAAwMA
			AAcAAAAEAAAAAwMAAPUBAAAMAAAAAQEAAERlZXBTcGFjZVNTRAgA
			AAAEAwAAAIBKsTcAAAAIAAAAAAQAAEG1WgtXAAAAJAAAAAEBAABD
			NTk2NkJENy1FMjU4LTM3MUEtQTkxQS1BNUJDMTIyMTUxQkYYAAAA
			AQIAAIEAAAABAAgA7z8AAAEACAAAAAAAAAAAAAEAAAABAQAALwAA
			AAAAAAABBQAABAAAAAMDAAAAAQAA6QAAAAECAABiZTgwZmUxMWQ3
			YWExNmQ3OTlkNzUwY2I3YTI1NDI1OWIwZGFhZWFiOzAwMDAwMDAw
			OzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94
			LnJlYWQtd3JpdGU7MDAwMDAwMDE7MGUwMDAwMDI7MDAwMDAwMDAw
			MDYzOWVhZDsvdXNlcnMvcmFuZHltY21pbGxhbi9kb2N1bWVudHMv
			bXVzaWN0aGVvcnlzZXJpZXMvbXQxMDEvd3d3L3Jlc291cmNlcy9z
			Y2FsZXN2Z3MvY2lyY2xlb2ZmaWZ0aHMuc3ZnAAAAAMAAAAD+////
			AQAAAAAAAAAPAAAABBAAALwAAAAAAAAABRAAAHgBAAAAAAAAEBAA
			AKQBAAAAAAAAAiAAAFwCAAAAAAAAECAAANwBAAAAAAAAESAAABAC
			AAAAAAAAEiAAAPABAAAAAAAAEyAAAAACAAAAAAAAICAAADwCAAAA
			AAAAMCAAAGgCAAAAAAAAAcAAAMQBAAAAAAAAEcAAABQAAAAAAAAA
			EsAAANABAAAAAAAAENAAAHACAAAAAAAAgPAAAHwCAAAAAAAA
			</data>
			<key>fileModificationDate</key>
			<date>2012-03-26T23:10:41Z</date>
			<key>md5</key>
			<string>4A224F84585B95F4A34DC8A78EF8AA08</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/randymcmillan/Documents/MusicTheorySeries/MT101/www/resources/scaleSVGs/CircleOfFifths.svg</string>
			<key>resourceName</key>
			<string>CircleOfFifths.svg</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{700, 700}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1800, 760}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#FFFFFF</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowXOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>IFrameURL</string>
							<key>objectValue</key>
							<string></string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>IFrameType</string>
							<key>objectValue</key>
							<string>0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowColor</string>
							<key>objectValue</key>
							<string>#000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusTopRight</string>
							<key>objectValue</key>
							<string>24px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>HTML Widget</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>666px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>736px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>16px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>666px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>iframe</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ReflectionOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusBottomRight</string>
							<key>objectValue</key>
							<string>24px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>IFrameHTML</string>
							<key>objectValue</key>
							<string>	&lt;div style='margin:20px;'&gt;&lt;h1&gt;Hey, it's Cordova!&lt;/h1&gt;
	&lt;p&gt;Don't know how to get started? Check out our &lt;em&gt;&lt;a target="_blank" href="http://docs.phonegap.com/en/edge/guide_getting-started_ios_index.md.html#Getting%20Started%20with%20iOS"&gt;Getting Started Guide&lt;/a&gt;&lt;/em&gt;
	&lt;br /&gt;
	&lt;ol&gt;
		&lt;li&gt;Check your console log for any white-list rejection errors.&lt;/li&gt;
		&lt;li&gt;Add your allowed &lt;strong&gt;hosts&lt;/strong&gt; in Cordova.plist/ExternalHosts (wildcards OK, don't enter the URL scheme)&lt;/li&gt;
	&lt;/ol&gt;
&lt;/div&gt;</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ReflectionDepth</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowYOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>16px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusTopLeft</string>
							<key>objectValue</key>
							<string>24px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusBottomLeft</string>
							<key>objectValue</key>
							<string>24px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowBlurRadius</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>736px</string>
						</dict>
					</array>
					<key>8</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>nan</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>482px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>446px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>3</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>9</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>CircleOfFifths</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>500px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>16px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>500px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>CircleOfFifths.svg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>668px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>668px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>16px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>init</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{20, 76}</string>
			<key>selectedObjects</key>
			<array>
				<string>9</string>
			</array>
			<key>splitHeight</key>
			<real>494</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>showLoadingPage</key>
	<true/>
	<key>showRulers</key>
	<false/>
	<key>unsupportedBrowserIdentifiers</key>
	<array>
		<string>firefox-10.0</string>
		<string>firefox-5.0</string>
		<string>firefox-4.0</string>
		<string>firefox-3.6</string>
		<string>firefox-3.5</string>
		<string>msie-9</string>
		<string>msie-8</string>
		<string>msie-6</string>
		<string>opera-1110</string>
		<string>android-2-3</string>
	</array>
	<key>zoomFactor</key>
	<real>0.75</real>
</dict>
</plist>
