<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>108</string>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>lastCheckDate</key>
	<date>2012-06-12T23:47:59Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>32</real>
		<key>mainWindowFrame</key>
		<string>372 156 1330 725 0 0 1920 1178 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<true/>
		<key>splitHeight</key>
		<real>551</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>oidCounter</key>
	<integer>22</integer>
	<key>resources</key>
	<array>
		<dict>
			<key>bookmark</key>
			<data>
			Ym9va2AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAaAMAAAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHJh
			bmR5bWNtaWxsYW4AAAAJAAAAAQEAAERvY3VtZW50cwAAABEAAAAB
			AQAATXVzaWNUaGVvcnlTZXJpZXMAAAAFAAAAAQEAAE1UMTAxAAAA
			AwAAAAEBAAB3d3cACQAAAAEBAAByZXNvdXJjZXMAAAAJAAAAAQEA
			AHNjYWxlU1ZHcwAAAA8AAAABAQAAU29wcmFub0NsZWYuc3ZnACQA
			AAABBgAABAAAABQAAAAsAAAAQAAAAFwAAABsAAAAeAAAAIwAAACg
			AAAACAAAAAQDAACSvwAAAAAAAAgAAAAEAwAA+VMEAAAAAAAIAAAA
			BAMAAPpTBAAAAAAACAAAAAQDAACcdQQAAAAAAAgAAAAEAwAA+HBj
			AAAAAAAIAAAABAMAAINxYwAAAAAACAAAAAQDAAAqnmMAAAAAAAgA
			AAAEAwAAop5jAAAAAAAIAAAABAMAAMWeYwAAAAAAJAAAAAEGAADk
			AAAA9AAAAAQBAAAUAQAAJAEAADQBAABEAQAAVAEAAGQBAAAYAAAA
			AQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAQAAAADAwAABwAA
			AAQAAAADAwAA9QEAAAwAAAABAQAARGVlcFNwYWNlU1NECAAAAAQD
			AAAAgEqxNwAAAAgAAAAABAAAQbVaC1cAAAAkAAAAAQEAAEM1OTY2
			QkQ3LUUyNTgtMzcxQS1BOTFBLUE1QkMxMjIxNTFCRhgAAAABAgAA
			gQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
			AAEFAAAEAAAAAwMAAAABAADmAAAAAQIAAGUzNWNlZWQyNDU2OThk
			NDdmNTU0NDYxYTA2ZTU1NjNmMGEzOTg5NTU7MDAwMDAwMDA7MDAw
			MDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVh
			ZC13cml0ZTswMDAwMDAwMTswZTAwMDAwMzswMDAwMDAwMDAwNjM5
			ZWM1Oy91c2Vycy9yYW5keW1jbWlsbGFuL2RvY3VtZW50cy9tdXNp
			Y3RoZW9yeXNlcmllcy9tdDEwMS93d3cvcmVzb3VyY2VzL3NjYWxl
			c3Zncy9zb3ByYW5vY2xlZi5zdmcAAADAAAAA/v///wEAAAAAAAAA
			DwAAAAQQAAC4AAAAAAAAAAUQAAB0AQAAAAAAABAQAACgAQAAAAAA
			AAIgAABYAgAAAAAAABAgAADYAQAAAAAAABEgAAAMAgAAAAAAABIg
			AADsAQAAAAAAABMgAAD8AQAAAAAAACAgAAA4AgAAAAAAADAgAABk
			AgAAAAAAAAHAAADAAQAAAAAAABHAAAAUAAAAAAAAABLAAADMAQAA
			AAAAABDQAABsAgAAAAAAAIDwAAB4AgAAAAAAAA==
			</data>
			<key>fileModificationDate</key>
			<date>2012-03-26T23:10:42Z</date>
			<key>md5</key>
			<string>4CED446680E9FF82081F6EEEEB28B20B</string>
			<key>notifyOnBookmarkChange</key>
			<true/>
			<key>originalPath</key>
			<string>/Users/randymcmillan/Documents/MusicTheorySeries/MT101/www/resources/scaleSVGs/SopranoClef.svg</string>
			<key>resourceName</key>
			<string>SopranoClef.svg</string>
		</dict>
	</array>
	<key>sceneSize</key>
	<string>{703, 724}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1773, 765}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>16</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>None</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>None</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>680px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>None</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>44px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientEndColor</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientStartColor</string>
							<key>objectValue</key>
							<string>#999A9C</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>703px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientAngle</string>
							<key>objectValue</key>
							<string>0deg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>3</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#DDEEFF</string>
						</dict>
					</array>
					<key>17</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>nan</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>482px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>446px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
					</array>
					<key>18</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>LetterSpacing</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>UserSelect</string>
							<key>objectValue</key>
							<string>none</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ShowButtonEditor</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionOnMouseUp</string>
							<key>objectValue</key>
							<dict>
								<key>sceneSymbol</key>
								<integer>1</integer>
								<key>transition</key>
								<integer>1</integer>
								<key>type</key>
								<integer>1</integer>
							</dict>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Button</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>1.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextAlign</string>
							<key>objectValue</key>
							<string>center</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ReflectionOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextDecoration</string>
							<key>objectValue</key>
							<string>none</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>LineHeight</string>
							<key>objectValue</key>
							<string>13px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowBlurRadius</string>
							<key>objectValue</key>
							<string>3px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontFamily</string>
							<key>objectValue</key>
							<string>Helvetica,Arial,Sans-Serif</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientAngle</string>
							<key>objectValue</key>
							<string>0deg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordSpacing</string>
							<key>objectValue</key>
							<string>3px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Inset</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>5</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusBottomRight</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>13px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientStartColor</string>
							<key>objectValue</key>
							<string>#7D7D81</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontStyle</string>
							<key>objectValue</key>
							<string>normal</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>74px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowXOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowColor</string>
							<key>objectValue</key>
							<string>#808080</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ReflectionDepth</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingLeft</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowXOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowYOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Cursor</string>
							<key>objectValue</key>
							<string>pointer</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Inset</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowColor</string>
							<key>objectValue</key>
							<string>#8A8A8A</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusBottomLeft</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusTopLeft</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>-253px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusTopRight</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Inset</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>15px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingRight</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>I</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontWeight</string>
							<key>objectValue</key>
							<string>bold</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WhiteSpaceCollapsing</string>
							<key>objectValue</key>
							<string>preserve</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingTop</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextColor</string>
							<key>objectValue</key>
							<string>#FFFFFF</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>624px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowBlurRadius</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowYOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>▶</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordWrap</string>
							<key>objectValue</key>
							<string>break-word</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientEndColor</string>
							<key>objectValue</key>
							<string>#000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Inset</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingBottom</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
					</array>
					<key>19</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>LetterSpacing</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>UserSelect</string>
							<key>objectValue</key>
							<string>none</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ShowButtonEditor</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionOnMouseUp</string>
							<key>objectValue</key>
							<dict>
								<key>javascriptOid</key>
								<string>21</string>
								<key>type</key>
								<integer>4</integer>
							</dict>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Button</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>1.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextAlign</string>
							<key>objectValue</key>
							<string>center</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ReflectionOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextDecoration</string>
							<key>objectValue</key>
							<string>none</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>LineHeight</string>
							<key>objectValue</key>
							<string>13px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowBlurRadius</string>
							<key>objectValue</key>
							<string>3px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontFamily</string>
							<key>objectValue</key>
							<string>Helvetica,Arial,Sans-Serif</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientAngle</string>
							<key>objectValue</key>
							<string>0deg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordSpacing</string>
							<key>objectValue</key>
							<string>3px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Inset</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>6</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusBottomRight</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>13px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientStartColor</string>
							<key>objectValue</key>
							<string>#7D7D81</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontStyle</string>
							<key>objectValue</key>
							<string>normal</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>42px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowXOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowColor</string>
							<key>objectValue</key>
							<string>#808080</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ReflectionDepth</string>
							<key>objectValue</key>
							<string>0.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingLeft</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowXOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BoxShadowYOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Cursor</string>
							<key>objectValue</key>
							<string>pointer</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Inset</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowColor</string>
							<key>objectValue</key>
							<string>#8A8A8A</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusBottomLeft</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusTopLeft</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>636px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusTopRight</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Inset</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>15px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingRight</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Init Wiki</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontWeight</string>
							<key>objectValue</key>
							<string>bold</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WhiteSpaceCollapsing</string>
							<key>objectValue</key>
							<string>preserve</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingTop</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#4B4B4D</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextColor</string>
							<key>objectValue</key>
							<string>#FFFFFF</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>688px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowBlurRadius</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextShadowYOffset</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>Wiki</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordWrap</string>
							<key>objectValue</key>
							<string>break-word</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundGradientEndColor</string>
							<key>objectValue</key>
							<string>#000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Inset</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingBottom</string>
							<key>objectValue</key>
							<string>6px</string>
						</dict>
					</array>
					<key>22</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImage</string>
							<key>objectValue</key>
							<string>SopranoClef.svg</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundRepeat</string>
							<key>objectValue</key>
							<string>no-repeat</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>380px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.85185</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundOrigin</string>
							<key>objectValue</key>
							<string>content-box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>704px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>7</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>GrandStaff</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#E9E8EE</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>init</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{0, 1}</string>
			<key>selectedObjects</key>
			<array/>
			<key>splitHeight</key>
			<real>551</real>
		</dict>
	</array>
	<key>scripts</key>
	<array>
		<dict>
			<key>oid</key>
			<string>21</string>
			<key>source</key>
			<string>function openCBFunction(hypeDocument, element, event) {

	var loc = "http://www.google.com";
    cordova.exec("ChildBrowserCommand.showWebPage", loc);

	/*	
		hypeDocument - access to the hype document API:
						METHODS:
						hypeDocument.documentName()
						hypeDocument.sceneNames()
						hypeDocument.currentSceneName()
						hypeDocument.showSceneNamed(sceneName, optionalTransition)
						hypeDocument.showNextScene(optionalTransition)
						hypeDocument.showPreviousScene(optionalTransition)
						hypeDocument.playTimelineNamed(timelineName)
						hypeDocument.getElementById(id)

						MORE INFO:
						http://tumultco.com/hype/documentation/javascript/
	
		element - DOMHTMLElement that triggered this function being called
		event - event that triggered this function being called
	*/
	
	
}
</string>
		</dict>
	</array>
	<key>showLoadingPage</key>
	<true/>
	<key>showRulers</key>
	<false/>
	<key>unsupportedBrowserIdentifiers</key>
	<array>
		<string>firefox-10.0</string>
		<string>firefox-5.0</string>
		<string>firefox-4.0</string>
		<string>firefox-3.6</string>
		<string>firefox-3.5</string>
		<string>msie-9</string>
		<string>msie-8</string>
		<string>msie-6</string>
		<string>opera-1110</string>
		<string>android-2-3</string>
	</array>
	<key>zoomFactor</key>
	<real>0.75</real>
</dict>
</plist>
