<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Chromatic Circle</string>
	<string>Chromatic Circle</string>
	<string>Alto Clef</string>
	<string>Treble Clef</string>
	<string>Tenor Clef</string>
	<string>BariTone Clef</string>
	<string>Bass Clef</string>
	<string>SubBass Clef</string>
	<string>TheGrandStaff.pdf</string>
	<string>TrebleClef.pdf</string>
	<string>TheGrandStaff.pdf</string>
</array>
</plist>
