<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Ionian.pdf</string>
    <string>Dorian.pdf</string>
    <string>Phrygian.pdf</string>
    <string>Lydian.pdf</string>
    <string>MixoLydian.pdf</string>
    <string>Aeolian.pdf</string>
    <string>Locrian.pdf</string>
    <string>Aeolian.pdf</string>
    <string>Aeolian.pdf</string>
    <string>Aeolian.pdf</string>
    <string>Aeolian.pdf</string>
    <string></string>
</array>
</plist>
