<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>TheGrandStaff.pdf</string>
    <string>TrebleClef.pdf</string>
    <string>SopranoClef.pdf</string>
    <string>MezzoSopranoClef.pdf</string>
    <string>AltoClef.pdf</string>
    <string>TenorClef.pdf</string>
    <string>BariToneClef.pdf</string>
    <string>BassClef.pdf</string>
    <string>SubBassClef.pdf</string>
</array>
</plist>
