<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Ionian</string>
    <string>Dorian</string>
    <string>Phrygian</string>
    <string>Lydian</string>
    <string>MixoLydian</string>
    <string>Aeolian</string>
    <string>Locrian</string>
</array>
</plist>
