<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://en.wikipedia.org/wiki/Ionian_Mode</string>
	<string>http://en.wikipedia.org/wiki/Dorian_mode</string>
	<string>http://en.wikipedia.org/wiki/Phrygian_mode</string>
	<string>http://en.wikipedia.org/wiki/Lydian_mode</string>
	<string>http://en.wikipedia.org/wiki/Mixolydian_mode</string>
	<string>http://en.wikipedia.org/wiki/Aeolian_mode</string>
	<string>http://en.wikipedia.org/wiki/Locrian_mode</string>
</array>
</plist>
