<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>http://en.wikipedia.org/wiki/Solfege#Fixed_do_solf.C3.A8ge</string>
    <string>http://en.wikipedia.org/wiki/Solfege#Fixed_do_solf.C3.A8ge</string>
    <string>http://en.wikipedia.org/wiki/Solfege#Fixed_do_solf.C3.A8ge</string>
</array>
</plist>
