<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>http://en.m.wikipedia.org/wiki/Circle_of_fifths</string>
    <string>http://en.m.wikipedia.org/wiki/Chromatic_circle</string>
</array>
</plist>
